{% extends "base.html" %} {% block app_content %}
<div class="row">
    <div class="col-4" id="game0">
        <div class="row">
            <img id="box0" src="/static/empty.png">
            <img id="box1" src="/static/empty.png">
            <img id="box2" src="/static/empty.png">
        </div>
        <div class="row">
            <img id="box3" src="/static/empty.png">
            <img id="box4" src="/static/empty.png">
            <img id="box5" src="/static/empty.png">
        </div>
        <div class="row">
            <img id="box6" src="/static/empty.png">
            <img id="box7" src="/static/empty.png">
            <img id="box8" src="/static/empty.png">
        </div>
    </div>
    <div class="col-4" id="game1">
        <div class="row">
            <img id="box0" src="/static/empty.png">
            <img id="box1" src="/static/empty.png">
            <img id="box2" src="/static/empty.png">
        </div>
        <div class="row">
            <img id="box3" src="/static/empty.png">
            <img id="box4" src="/static/empty.png">
            <img id="box5" src="/static/empty.png">
        </div>
        <div class="row">
            <img id="box6" src="/static/empty.png">
            <img id="box7" src="/static/empty.png">
            <img id="box8" src="/static/empty.png">
        </div>
    </div>
    <div class="col-4" id="game2">
        <div class="row">
            <img id="box0" src="/static/empty.png">
            <img id="box1" src="/static/empty.png">
            <img id="box2" src="/static/empty.png">
        </div>
        <div class="row">
            <img id="box3" src="/static/empty.png">
            <img id="box4" src="/static/empty.png">
            <img id="box5" src="/static/empty.png">
        </div>
        <div class="row">
            <img id="box6" src="/static/empty.png">
            <img id="box7" src="/static/empty.png">
            <img id="box8" src="/static/empty.png">
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-4" id="game3">
        <div class="row">
            <img id="box0" src="/static/empty.png">
            <img id="box1" src="/static/empty.png">
            <img id="box2" src="/static/empty.png">
        </div>
        <div class="row">
            <img id="box3" src="/static/empty.png">
            <img id="box4" src="/static/empty.png">
            <img id="box5" src="/static/empty.png">
        </div>
        <div class="row">
            <img id="box6" src="/static/empty.png">
            <img id="box7" src="/static/empty.png">
            <img id="box8" src="/static/empty.png">
        </div>
    </div>
    <div class="col-4" id="game4">
        <div class="row">
            <img id="box0" src="/static/empty.png">
            <img id="box1" src="/static/empty.png">
            <img id="box2" src="/static/empty.png">
        </div>
        <div class="row">
            <img id="box3" src="/static/empty.png">
            <img id="box4" src="/static/empty.png">
            <img id="box5" src="/static/empty.png">
        </div>
        <div class="row">
            <img id="box6" src="/static/empty.png">
            <img id="box7" src="/static/empty.png">
            <img id="box8" src="/static/empty.png">
        </div>
    </div>
    <div class="col-4" id="game5">
        <div class="row">
            <img id="box0" src="/static/empty.png">
            <img id="box1" src="/static/empty.png">
            <img id="box2" src="/static/empty.png">
        </div>
        <div class="row">
            <img id="box3" src="/static/empty.png">
            <img id="box4" src="/static/empty.png">
            <img id="box5" src="/static/empty.png">
        </div>
        <div class="row">
            <img id="box6" src="/static/empty.png">
            <img id="box7" src="/static/empty.png">
            <img id="box8" src="/static/empty.png">
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-4" id="game6">
        <div class="row">
            <img id="box0" src="/static/empty.png">
            <img id="box1" src="/static/empty.png">
            <img id="box2" src="/static/empty.png">
        </div>
        <div class="row">
            <img id="box3" src="/static/empty.png">
            <img id="box4" src="/static/empty.png">
            <img id="box5" src="/static/empty.png">
        </div>
        <div class="row">
            <img id="box6" src="/static/empty.png">
            <img id="box7" src="/static/empty.png">
            <img id="box8" src="/static/empty.png">
        </div>
    </div>
    <div class="col-4" id="game7">
        <div class="row">
            <img id="box0" src="/static/empty.png">
            <img id="box1" src="/static/empty.png">
            <img id="box2" src="/static/empty.png">
        </div>
        <div class="row">
            <img id="box3" src="/static/empty.png">
            <img id="box4" src="/static/empty.png">
            <img id="box5" src="/static/empty.png">
        </div>
        <div class="row">
            <img id="box6" src="/static/empty.png">
            <img id="box7" src="/static/empty.png">
            <img id="box8" src="/static/empty.png">
        </div>
    </div>
    <div class="col-4" id="game8">
        <span class="row">
            <img id="box0" src="/static/empty.png">
            <img id="box1" src="/static/empty.png">
            <img id="box2" src="/static/empty.png">
        </span>
        <span class="row">
            <img id="box3" src="/static/empty.png">
            <img id="box4" src="/static/empty.png">
            <img id="box5" src="/static/empty.png">
        </span>
        <span class="row">
            <img id="box6" src="/static/empty.png">
            <img id="box7" src="/static/empty.png">
            <img id="box8" src="/static/empty.png">
        </span>
    </div>
</div>
<button type="button" id="reset" class="btn btn-primary">Reset</button>
<button type="button" id="random" class="btn btn-primary">Random</button>
<div id="status"></div>
<script>
    var x = "/static/X.png"
    var o = "/static/O.png"
    var e = "/static/empty.png"
    var player = 1
    var gameID = ''
    var doneBlocks = []

    function whotoplay() {
        if (player == 1) {
            return 'Player to Play <br> <img src="/static/X.png">'
        } else {
            return 'Player to Play <br> <img src="/static/O.png">'
        }
    }

    function change() {
        el = $(this)
        if (gameID == '' || gameID == el.parent().parent().attr('id')) {
            if (el.attr("src") == e) {
                var data = {
                    'player': player,
                    'move': el.attr('id'),
                    'game': el.parent().parent().attr('id')
                }
                if (player == 1) {
                    el.attr("src", x)
                    player = -1
                } else {
                    el.attr("src", o)
                    player = 1
                }

                $.ajax({
                    type: 'POST',
                    url: "/mplay",
                    data: JSON.stringify(data),
                    success: function(result) {
                        if (result.wp == 1) {
                            $("#status").html('Player X Wins')
                                // $("#reset").click()
                        } else if (result.wp == -1) {
                            $("#status").html('Player O Wins')
                                // $("#reset").click()
                        } else if (result.wp == 0) {
                            $("#status").html(whotoplay())
                        } else {
                            $("#status").html('Draw')
                                // $("#reset").click()
                        }
                        if (result.winblock == 1) {
                            doneBlocks.push(result.game)
                            gID = 'game' + result.game
                            if (result.player == 1) {
                                $('#' + gID).html('<img src="/static/bigX.png">')
                            } else if (result.player == -1) {
                                $('#' + gID).html('<img src="/static/bigO.png">')
                            }
                            gameID = ''
                        } else {
                            if (doneBlocks.indexOf(parseInt(data.move.slice(-1))) != -1) {
                                gameID = ''
                            } else {
                                gameID = 'game' + data.move.slice(-1)
                            }
                        }
                    }
                })
            }
        }
    }
    $("img").click(change)
    $("#reset").click(function() {
        player = 1
        $("img").each(function() {
            $(this).attr("src", e)
        });
        $.get("/");
    })
    $("#chance").click(function() {
        $.get("/score", function(result) {
            var stats = result.stats
            $("#chance-display").html('Player X chances: ' + stats[0] + '%<br>Player O chances:  ' + stats[1] + '%<br>Draw: ' + stats[2] + '%')
        });
    })
</script>
{% endblock %}